BasedOnStyle: Google
Standard: Cpp11
IndentWidth: 2
ColumnLimit: 160
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: true
PointerAlignment: Right
AlignOperands: true
AlignConsecutiveAssignments: true
AccessModifierOffset: -2
AllowShortCaseLabelsOnASingleLine: true
KeepEmptyLinesAtTheStartOfBlocks: false
SortIncludes: false
